.root {
	position: relative;
}

.input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	padding: 12px 20px 12px 40px;
	width: 400px;
	font-size: 15px;

	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.2);

	}
}

.icon {
	width: 20px;
	position: absolute;
	top: 13px;
	left: 10px;
	opacity: 0.5;
}

.cancel {
	width: 20px;
	opacity: 0.5;
	position: absolute;
	top: 13px;
	right: 10px;
	cursor: pointer;

	&:hover {
		opacity: 0.9;
	}
}